.section-how-take {
  padding-top: 80px;
  padding-bottom: 7.25%;

  .container {
    overflow: hidden;
  }

  .section__header {
    margin-bottom: 7.5%;
  }

  .section__content {
    display: flex;
    flex-wrap: wrap;
    counter-reset: step;
  }

  .step {
    width: 50%;

    &__header {
      position: relative;
      padding-left: 100px;
      margin-bottom: 80px;

      &:before {
        counter-increment: step;
        content: counter(step) " ";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bordo;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        left: 0;
        top: -7px;
        font-family: $secondary-font;
        line-height: 1;
        font-size: 44px;
        font-weight: 700;
        z-index: 2;
        color: $white;
      }
    }

    .heading {
      margin-bottom: 6px;
      font-family: $secondary-font;
    }

    .sub-title {
      width: 65%;
    }

    &__content {
      display: flex;
    }
  }

  .step_1 {
    width: 100%;

    .section__text {
      width: 100%;
      max-width: 506px;
    }

    .step__content {
      justify-content: space-between;
      padding-bottom: 11%;
    }
  }

  .step_2,
  .step_3 {
    .step__content {
      padding-left: 100px;
    }
  }

  .card {
    text-align: center;
    width: 50%;
    max-width: 238px;
    margin-right: 33px;
    padding: 5px;

    &:last-child {
      margin-right: 0;
    }

    .bg-thumb {
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: contain;
      background-size: contain;
      width: 100%;
      min-height: 228px;
      margin-bottom: 5px;
    }

    &__text {
      color: $grey;
    }
  }

  .card-dosage {
    display: block;
    position: relative;
    width: 25.25%;
    padding: 15px 28px;
    border: 1px solid transparent;
    transition: .35s;
    border-top: none;
    text-align: left;

    &:before {
      position: absolute;
      content: '';
      display: block;
      left: -1px;
      right: -1px;
      top: -15px;
      height: 15px;
      opacity: 0;
      transition: .35s;
    }

    &:hover,
    &:focus {
      background-color: $white;
    }

    &:nth-child(1):before {
      background-image: linear-gradient(to right, #ffdb45, #ffc400);
    }

    &:nth-child(2):before {
      background-image: linear-gradient(to right, #2da7f6, #0866a3);
    }

    &:nth-child(3):before {
      background-image: linear-gradient(to right, #fd5446, #bf1c0e);
    }

    &:hover:before {
      opacity: 1;
    }

    &:nth-child(1) {
      .card-dosage__header,
      .card-dosage__title {
        color: $warning;
      }

      &:hover {
        border-color: #ffdb45;
      }
    }

    &:nth-child(2) {
      .card-dosage__header,
      .card-dosage__title {
        color: $blue;
      }

      &:hover {
        border-color: #2da7f6;
      }
    }

    &:nth-child(3) {
      .card-dosage__header,
      .card-dosage__title {
        color: #e42313;
      }

      &:hover {
        border-color: #fd5446;
      }
    }

    &__header,
    &__title {
      font-family: $secondary-font;
      font-size: 42px;
      font-weight: 900;
    }

    &__title {
      margin-bottom: 22px;
    }

    &__header {
      margin-bottom: 20px;
    }

    .text-bold {
      font-weight: 600;
      margin-bottom: 7px;
    }

    .bg-thumb {
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      background-size: cover;
      width: 100%;
      min-height: 486px;
      margin-bottom: 15px;
    }
  }

  .aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.5%;
  }

  .section__text {
    width: 50%;
    padding-right: 20px;
  }

  @include respond-to($xxl) {
    .card-dosage__header,
    .card-dosage__title {
      font-size: 30px;
    }
    .card-dosage .bg-thumb {
      min-height: 430px;
    }

  }
  @include respond-to($xl) {
    .card-dosage {
      width: 30%;
      .bg-thumb {
        min-height: 380px;
      }
    }
    .card {
      max-width: 220px;

      .bg-thumb {
        -webkit-background-size: 100%;
        background-size: 100%;
        min-height: 160px;
      }
    }
  }
  @include respond-to($lg) {
    padding-bottom: 0;
    .step .heading {
      margin-bottom: 80px;
    }
    .step_1 {
      .step__content {
        justify-content: space-around;
      }

      .section__text {
        max-width: 100%;
        padding-bottom: 60px;
      }

      .heading {
        margin-bottom: 25px;
      }
    }
    .step_2,
    .step_3 {
      width: 100%;
    }
    .step_2 {
      margin-bottom: 60px;
    }
    .aside {
      flex-wrap: wrap;
      margin-bottom: 11%;
    }

    .card-dosage {
      font-size: 16px;
      width: 50%;
      flex-basis: 385px;
      margin-bottom: 40px;
      &__header,
      &__title {
        font-size: 42px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .text-bold {
        font-size: 22px;
      }

      .bg-thumb {
        min-height: 486px;
      }
    }

    .step__header {
      margin-bottom: 20px;
    }
    .step__content {
      padding-bottom: 9%;
      flex-wrap: wrap;
    }
    .card {
      margin-right: 43px;

      .bg-thumb {
        min-height: 228px;
      }
    }
  }
  @include respond-to($md) {
    padding-top: 40px;
    .card-dosage {
      margin-bottom: 20%;
    }
    .step__header:before {
      top: -16px;
    }
    .aside {
      margin-bottom: 16%;
    }
  }
  @include respond-to($sm) {
    .section__header {
      margin-bottom: 16.5%;
    }
    .step_1 .section__text {
      padding-bottom: 13px;
    }
    .step__header {
      padding-left: 0;

      .section__text {
        padding-right: 0;
      }
    }
    .step .step__content {
      padding-left: 20px;
    }
    .step .heading {
      padding-left: 100px;
      padding-bottom: 0;
      margin-bottom: 50px;
    }
    .step_1 {
      .step__content {
        padding-left: 0;
      }

      .heading {
        padding-bottom: 25px;
      }
    }
    .card-dosage__header,
    .card-dosage__title {
      font-size: 32px;
    }
    .card {
      width: 40%;

      .bg-thumb {
        min-height: 155px;
        margin-bottom: 10px;
      }
    }

  }
  @include respond-to($xs) {
    .section__header {
      margin-bottom: 24.5%;

      &:after {
        top: 75%;
      }
    }
    .aside {
      margin-bottom: 33%;
    }
    .step_1 .step__content {
      padding-top: 20px;
    }
    .step_2 {
      margin-bottom: 10px;
    }
    .card {
      width: 100%;
      max-width: 228px;
      margin: 0 auto 50px;

      .bg-thumb {
        min-height: 175px;
      }
    }
    .card-dosage {
      border: none;
      padding: 0;
      flex-basis: 184px;
      margin-bottom: 8%;

      &:nth-child(n) {
        .card-dosage__header {
          color: #5e5e5e;
          transition: .35s;
        }
      }

      &__header {
        font-family: $main-font;
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        padding: 13px 30px;
      }

      &:hover,
      &:focus {
        .card-dosage__header {
          color: $white;

          &.mob-hover_warning {
            background-color: $warning;
          }

          &.mob-hover_blue {
            background-color: $blue;
          }

          &.mob-hover_red {
            background-color: #bf1c0e;
          }
        }
      }

      &:before {
        display: none;
      }

      .bg-thumb,
      &__title,
      .card__text {
        display: none;
      }
    }
  }
}