.section-intro {

  color: $grey;

  .top-content {
    padding-top: 160px;
    padding-bottom: 50px;

    .section__text {
      max-width: 420px;
      margin-bottom: 54px;
    }

    .container {
      display: flex;
    }
  }

  .part {
    width: 50%;
  }

  .part-left {
    padding-top: 60px;
  }

  .slogan {
    margin-bottom: 75px;
  }

  .part-right {
    .img_intro {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200%;
      max-width: none;
      z-index: -1;
    }
  }

  .composition {
    margin-bottom: 115px;

    &__item {
      position: relative;
      padding-right: 35px;

      &:last-child {
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      &:after {
        position: absolute;
        content: '|';
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .video-block {
    padding-top: 6.5%;

    .section__text {
      width: 50%;
      text-align: right;
      padding-right: 110px;
      margin-bottom: 65px;
    }

    video {
      object-fit: inherit;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .wrap-thumb {
    position: relative;
    border: 1px solid #707070;
    background-color: #ffffff;
    padding: 40px 70px;
    margin-bottom: 28px;
  }

  .btn_play {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;

    .know-pharmacy {
      margin-right: 5px;
    }
  }

  @include respond-to($xl) {
    .aside {
      align-items: flex-start;
    }
  }

  @include respond-to($md) {

  }
}

