.section-about {
  padding-top: 8.5%;
  padding-bottom: 10%;
  color: $grey;

  .container {
    display: flex;
  }

  .part-left {
    width: 44%;

    .section__text {
      margin-bottom: 18px;
      max-width: 530px;
    }
  }

  .heading {
    margin-bottom: 30px;
  }

  .part-right {
    width: 56%;

  }

  .description {
    padding-top: 5px;

    &__item {
      position: relative;
      padding: 13px 60px 20px 50px;
      border: 1px solid #707070;
      background-color: #f4f4f4;
      margin-bottom: 40px;
      min-height: 125px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        content: '';
        z-index: 2;
        display: block;
        width: 12px;
        top: -4px;
        bottom: -4px;
        left: 0;
        background-color: #000000;
      }
    }
  }

  @include respond-to($xl) {
    .part-right,
    .part-left {
      width: 50%;
    }
  }
  @include respond-to($lg) {
    padding-top: 1.5%;
    padding-bottom: 4%;
    .container {
      flex-wrap: wrap;
    }
    .part-right,
    .part-left {
      width: 100%;
    }
    .part-left {
      margin-bottom: 56px;
    }
    .section__text {
      font-size: 22px;
    }
    .heading {
      margin-bottom: 18px;
    }
  }
  @include respond-to($md){
    .description__item {
      padding-right: 10px;
    }
  }
  @include respond-to($sm){
    .section__text {
      font-size: 16px;
    }
    .heading {
      margin-bottom: 5px;
    }
    .part-right{
      .description__item{
        padding: 5px 16px 5px 28px;
        min-height: 100px;
      }
    }
  }
}