.section-producer{
  padding-top: 80px;
  color: $grey;
  padding-bottom: 12.5%;
  .container{
    overflow: hidden;
  }
  .section__header{
    margin-bottom: 90px;
  }
  .section__content{
    display: flex;
    margin-bottom: 11%;
  }
  .block-logo{
    width: 20%;
    flex-shrink: 0;
  }
  .producer-logo{
    display: block;
    max-width: 164px;
    height: auto;
  }
  .dynamic-content{
    margin-bottom: 35px;
  }
  .link{
    color: #0090ff;
  }

  @include respond-to($xl) {

  }
}

