.section-intro {

  color: $grey;

  .top-content {
    padding-top: 160px;
    padding-bottom: 50px;

    .section__text {
      max-width: 420px;
      margin-bottom: 54px;
    }

    .container {
      display: flex;
    }
  }

  .part {
    width: 50%;
  }

  .part-left {
    padding-top: 60px;
    .know-pharmacy{
      padding-right: 0;
    }
  }

  .slogan {
    margin-bottom: 75px;
  }

  .part-right {
    .img_intro {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200%;
      max-width: none;
      z-index: -1;
    }
  }

  .composition {
    margin-bottom: 115px;

    &__item {
      position: relative;
      padding-right: 35px;

      &:last-child {
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      &:after {
        position: absolute;
        content: '|';
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .video-block {
    padding-top: 6.5%;

    .section__text {
      width: 50%;
      text-align: right;
      padding-right: 110px;
      margin-bottom: 65px;
    }

    video {
      object-fit: inherit;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .wrap-thumb {
    position: relative;
    border: 1px solid #707070;
    background-color: #ffffff;
    padding: 40px 70px;
    margin-bottom: 28px;
  }

  .btn_play {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;

    .know-pharmacy {
      margin-right: 5px;
    }
  }

  @include respond-to($xl) {
    .aside {
      align-items: flex-start;
    }
    .top-content {
      padding-top: 140px;
    }
  }
  @include respond-to($lg) {
    .container  {
      flex-wrap: wrap;
    }
    .top-content {
      padding-top: 120px;
    }
    .part{
      width: 100%;
    }
    .part-right{
      order: -1;
      .img_intro{
        width: 150%;
      }
    }
    .part-left{
      padding-top: 0;
      margin-top: -15%;
    }
    .wrap-thumb{
      padding: 30px 45px;
    }
    .aside {
      flex-wrap: wrap;
    }
    .composition {
      margin-bottom: 40px;
    }
    .slogan {
      margin-bottom: 50px;
    }
    .video-block .section__text {
      padding-right: 0;
      width: 100%;
      text-align: left;
    }
  }
  @include respond-to($md) {
    .part-right .img_intro {
      width: 135%;
    }
    .top-content .section__text{
      max-width: 50%;
    }
    .wrap-thumb {
      padding: 15px 27px;
    }
    .composition {
      margin-bottom: 25px;
    }
    .slogan {
      margin-bottom: 25px;
    }
    .video-block {
      padding-top: 3.5%;
      .section__text {
        margin-bottom: 54px;
      }
    }
    .aside{
      padding-bottom: 62px;
      .know-pharmacy{
        padding-top: 15px;
      }
    }
  }

  @include respond-to($sm) {
    .part-right .img_intro {
      width: 100vw;
    }
    .top-content .section__text {
      max-width: 100%;
      margin-bottom: 30px;
    }
    .wrap-thumb {
      padding: 7px 12px;
      margin-bottom: 13px;
    }
    .video-block .section__text {
      margin-bottom: 20px;
    }
    .aside{
      padding-bottom: 36px;
      .know-pharmacy{
        padding-top: 0;
      }
    }

  }
}

