.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  background-color: #fff;
  color: #5e5e5e;

  &_hover-blue {
    &.btn_active,
    &:hover,
    &:focus {
      color: $white;
      background-color: #0090ff;
    }
  }

  &_hover-orange {
    &.btn_active {
      background-color: #ffc400;
      color: $white;
    }

    &:hover,
    &:focus {
      background-color: #f49600;
      color: $white;
    }
  }

  &_hover-red {
    &.btn_active,
    &:hover,
    &:focus {
      background-color: #bf1c0e;
      color: $white;
    }
  }

  &_main {
    background-color: $black;
    color: $white;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    padding: 1.1em 1.65em;

    &:hover,
    &:focus {
      color: $red;
    }
  }

  &_small {
    font-size: 14px;
    font-weight: 300;
    padding: 5px 6px;
    line-height: 1;
  }
  
  &_ghost {
    background-color: transparent;
    color: #000;
  }

}

.btn_play {
  position: absolute;
  font-size: 10px;
  width: 17.7em;
  height: 17.7em;
  border-radius: 50%;
  background-color: #ff0000;
  border: none;

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.2em 0 3.2em 5.5em;
    border-color: transparent transparent transparent $white;
    margin: 0 0 0 .8em;
  }
}

@include respond-to($xl) {
  .btn_main{
    font-size: 18px;
  }
  .btn_play {
    font-size: 7px;
  }
}

@include respond-to($lg) {
  .btn_main{
    font-size: 26px;
  }
}

@include respond-to($md) {
  .btn_play {
    font-size: 4px;
  }
}

@include respond-to($sm) {
  .btn_small {
    font-size: 14px;
  }
  .btn_play {
    font-size: 2px;
  }
}