$color-primary: #ee0000;
$white: #fff;
$red: #ff0000;
$bordo: #800000;
$warning: #f49600;
$blue: #0070ba;

$black: #000000;
$dark: #202020;
$grey: #5e5e5e;

$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Source Code Pro', monospace;
$helper-font: 'Arial', sans-serif;


// Screen Variables

$xxs: '(max-width: 320px)';
$xs: '(max-width: 480px)';
$sm: '(max-width: 800px)';
$md: '(max-width: 1020px)';
$lg: '(max-width: 1180px)';
$xl: '(max-width: 1440px)';
$xxl: '(max-width: 1680px)';
