.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  -webkit-font-smoothing: antialiased;
  font: 300 22px $main-font;
  background: url(../assets/img/intro-gradient.svg) top center no-repeat;
  -webkit-background-size: 100% 2405px;
  background-size: 100% auto;
  @include respond-to($xxl) {
    font-size: 18px;
  }
  @include respond-to($md) {
    font-size: 16px;
  }
  @include respond-to($sm) {
    font-size: 14px;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.link {
  color: #202020;
  font-family: $helper-font;
  font-size: 14px;
  font-weight: 400;
  transition: .35s;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.slogan {
  font-family: $secondary-font;
  color: #000;
  line-height: .7;

  span {
    display: inline-block;
  }

  @include respond-to($xs) {
    line-height: 1;
  }
}

.know-pharmacy {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 16px;
  padding-right: 60px;
  flex-shrink: 0;

  &__content {
    padding-left: 37px;
  }

  .location {
    margin-bottom: 6px;
  }

  .cost {
    font-size: 44px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: .36em;
  }

  .instructions {
    display: flex;

    .btn {
      margin-right: 5px;
    }
  }

  .wrap-know-pharmacy {
    display: flex;
    justify-content: flex-end;
  }

  @include respond-to($xl) {
    .cost {
      font-size: 30px;
    }
  }
  @include respond-to($lg) {
    .cost {
      font-size: 44px;
    }
  }
  @include respond-to($md) {
    padding-right: 0;
  }
  @include respond-to($sm) {
    flex-wrap: wrap;
    flex-shrink: 1;
    padding-bottom: 0;

    .wrap-btn,
    .know-pharmacy__content {
      width: 100%;
      text-align: center;
    }

    .know-pharmacy__content {
      padding-left: 0;
      padding-top: 10px;

      span {
        font-size: 14px;
      }
    }
    .instructions {
      justify-content: center;
    }
  }
}

.page {
  padding-top: 160px;
  color: $grey;
  @include respond-to($md) {
    article {
      margin-bottom: 75px;
    }
    .section-producer{
      padding-top: 20px;
    }
  }
  @include respond-to($xs) {
    padding-top: 110px;
    padding-bottom: 140px;
    .dynamic-content{
      margin-bottom: 28%;
    }
    .section-producer{
      padding-top: 0;
    }
  }
}

.page__sub-title {
  font-family: $secondary-font;
  font-weight: 700;
  @include respond-to($xs) {
    margin-bottom: 10px;
  }
}

.page__title {
  width: 75%;
  margin-bottom: 40px;
  @include respond-to($md){
    width: 100%;
    line-height: 1.1;
  }
  @include respond-to($xs){
    margin-bottom: 25px;
    font-size: 33px;
  }
}

.page__title,
.section__heading {
  color: #000000;
  font-family: $secondary-font;
}

.section__header {
  position: relative;
  display: inline-block;
  padding-right: 65px;

  &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: #000000;
    height: 3px;
    width: 100vw;
    top: 60%;
    left: 100%;
  }

}

.color_warning {
  color: #f49600;
}

.color_blue {
  color: #0070ba;
}

.color_dark-red {
  color: #800000;
}

.upload-pdf {
  color: #800000;
  font-family: $secondary-font;
  font-size: 44px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;

  .wrap-svg {
    width: 76px;
    height: 76px;
    padding: 4px 5px;
    background-color: $white;
    display: inline-block;
    text-align: center;
    transition: background-color .4s;
    margin-right: 18px;
    flex-shrink: 0;

    .icon-svg {
      width: auto;
      transition: .4s;
    }
  }

  &:hover,
  &:focus {
    .wrap-svg {
      background-color: #ff0000;

      .icon-svg path {
        fill: #ffffff;
      }
    }
  }

  @include respond-to($md) {
    font-size: 26px;
  }
  @include respond-to($xs) {
    font-size: 20px;
  }
}

.dynamic-content {
  p {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-family: $secondary-font;
    font-size: 44px;
    font-weight: 700;
    color: #800000;
    margin-bottom: 40px;
    margin-top: 55px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    li {
      position: relative;
      width: 45%;
      padding-left: 52px;
      padding-right: 10%;
      margin-bottom: 56px;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../assets/img/svg/marker.svg);
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: center center;
        width: 44px;
        height: 27px;
      }
    }
  }

  @include respond-to($lg) {
    h2 {
      font-size: 36px;
    }
  }
  @include respond-to($md) {
    p {
      margin-bottom: 23px;
    }
    h2 {
      font-size: 26px;
      margin-top: 68px;
    }
    ul {
      li {
        width: 100%;
      }
    }
    img {
      margin-top: 45px;
      margin-bottom: 100px;
    }
  }
  @include respond-to($sm) {
    p {
      margin-bottom: 18px;
    }
  }
  @include respond-to($xs) {
    h2 {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    img{
      margin-top: 10px;
      margin-bottom: 60px;
    }
  }
}

.instruction-content{
  margin-bottom: 15%;
  p{
    margin-bottom: 5px;
  }
  h3 {
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 25px;
  }
  h4{
    font-size: 18px;
    font-weight: 300;
    margin-top: 22px;
    margin-bottom: 5px;
  }
  @include  respond-to($md){
    p {
      margin-bottom: 10px;
    }
    h3{
      font-size: 18px;
    }
    h4{
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  @include respond-to($xs){
    margin-bottom: 30%;
    h3{
      font-size: 16px;
    }
    h4{
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}

.thumb-rapira-cough {
  position: relative;
  padding-top: 90px;
  padding-bottom: 70px;
  display: flex;
  justify-content: flex-end;
  padding-left: 38px;
  margin-bottom: 150px;

  .img-pack {
    position: absolute;
    bottom: 0;
  }

  .img {
    object-fit: cover;
  }

  @include respond-to($xxl) {
    .img-rapira {
      width: 85%;
    }
  }
  @include respond-to($xl) {
    margin-bottom: 85px;
    .img-rapira {
      position: relative;
      bottom: -50px;
    }
    .thumb-rapira-cough {
      overflow: hidden;
      padding-top: 40px;
    }
  }
  @include respond-to($md) {
    .img-rapira {
      bottom: -35px;
      width: 85%;
    }
    .dynamic-content {
      margin-bottom: 20px;
    }
  }
  @include respond-to($sm) {
    margin-bottom: 44px;
    padding-left: 0;
    .img-rapira {
      width: 100%;
    }
  }
  @include respond-to($xs) {
    padding-top: 55px;
  }
}
