.page-instruction {
  .application {
    padding-top: 13px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: $white;
    font-weight: 700;

    &.bg-application {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        left: -100vw;
        bottom: 0;
        top: 0;
        right: -100vw;
        z-index: -1;
      }
    }

    &.bg-application_warninng:before {
      background-color: $warning;
    }

    &.bg-application_blue:before {
      background-color: #0070ba;
    }

    &.bg-application_danger:before {
      background-color: #e42313;
    }
  }

  .description-action {
    font-family: $secondary-font;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 38px;
  }

  .section-producer {
    padding-top: 90px;
  }

  @include respond-to($lg) {
    .section__heading {
      font-size: 70px;
    }
  }
  @include respond-to($md) {
    .description-action {
      font-size: 26px;
      margin-bottom: 30px;
    }
  }
  @include respond-to($sm){
    .section__heading {
      font-size: 50px;
    }
  }
  @include respond-to($xs) {
    .section__heading {
      font-size: 42px;
    }
  }
}


.section-hero {
  .page__title {
    margin-bottom: 28px;
  }

  .instructions {
    margin-bottom: 60px;
  }

  .btn_small {
    font-size: 24px;
    padding: 10px 30px;
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include respond-to($sm) {
    .instructions {
      margin-bottom: 0;
      width: 80%;

      .btn_small {
        margin-right: 0;
        margin-bottom: 17px;
      }
    }
  }
  @include respond-to($xs) {
    .description-action {
      font-size: 20px;
    }
    .page__title {
      margin-bottom: 18px;
    }
    .instructions {
      width: 100%;
    }
  }
}


article {
  .dynamic-content {
    margin-bottom: 15%;
  }
}