.page-about{
  article{
    margin-bottom: 200px;
  }
  @include respond-to($md){

    .section-producer{
      padding-top: 20px;
    }
  }
  @include respond-to($xs){
    .section-producer{
      padding-bottom: 0;
    }
  }
}