.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;

  &.header_active {
    transition: hight .45s;

    .container {
      position: relative;
      padding-top: 12px;
      z-index: 999;
    }

    .menu {
       color: rgba(255, 255 ,255, .8);
     }

    .nav__lang {
      opacity: 0;
    }

    &:before {
      transform: skew(0deg);
    }
  }


  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 50px;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(95deg, #ff5547 0%, #bf1c0e 100%);
    transform-origin: 100% 0;
    transform: skew(0deg, 1deg);
    -webkit-backface-visibility: hidden;
  }

  .container {
    position: relative;
    padding-left: 135px;
    padding-top: 40px;
    padding-bottom: 23px;
  }

  &__nav {
    margin-left: 34px;
  }

  .left-bar {
    position: absolute;
    left: 15px;
    top: -3px;
    z-index: 2;
  }

  &__logo {
    width: 143px;
    height: auto;
    display: block;
  }

  .nav__lang {
    display: flex;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    color: $dark;
    text-transform: uppercase;
    font-family: $helper-font;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity .35s;
  }

  .nav__link {
    padding: 5px 7px;
    display: inline-block;

    &.active-link-lang {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .btn-burger {
    border: none;
    background-color: transparent;
    display: none;
    padding: 5px;
    width: 31px;
    height: 27px;

    .line {
      display: block;
      width: 21px;
      height: 1px;
      margin-bottom: 7px;
      background-color: #707070;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .btn-close {
    position: absolute;
    left: 26px;
    top: 26px;
    border: none;
    background-color: transparent;
    display: none;
    background-image: url(../assets/img/svg/close.svg);
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  @include respond-to($lg) {
    &:before {
      top: -10px;
    }
    .left-bar {
      left: 30px;
    }
    .header__logo {
      max-width: 135px;
    }
    .header__nav {
      padding-left: 17px;
    }

  }

  @include respond-to($md) {
    .container {
      max-width: 100%;
    }
  }
  @include respond-to($sm) {
    .header.header_active {
      .container {
        padding-top: 6px;
      }
      .menu {
        color: #202020;
      }
      .nav__lang {
        color: rgba(255, 255 ,255, .8);
        opacity: 1;
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 45px;
    }
    .left-bar {
      position: initial;
    }
    .btn-close,
    .btn-burger {
      display: block;
    }
    .header__nav {
      padding: 105px 26px 40px;
      position: fixed;
      left: -35px;
      right: 0;
      top: 0;
      bottom: 0;
      max-width: 320px;
      background-color: #fff;
      max-height: 100%;
      overflow-y: auto;
      text-align: left;
      transition: transform .5s;
      transform: translateX(-100%);
      z-index: 999;

      &.open {
        transform: translateX(0);
      }

      .menu {
        flex-direction: column;

        &__item {
          margin-bottom: 28px;
          margin-left: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .header__logo {
      position: absolute;
      top: -3px;
      left: 50%;
      transform: translateX(-50%);

    }
    .nav__lang {
      position: inherit !important;
      margin-left: 30px;
    }
  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 800;
}